body{
  height: 100vh;
  background: #404040;
  overflow: hidden;
}

.nave{
  position: absolute;
  left: 50%;
  bottom: 0;
}
.capsula{
  position: absolute;
  z-index: 30;
  background: #F3F3F3;
  left: 0px;
  margin-top:29px;
  top: 0px;
  width: 60px;
  height: 50px;
  opacity: 1;
  overflow: hidden;
}
.ventana{
  border-radius: 50%;
  background: #404040;
  width: 30px;
  height: 30px;
  position: relative;
  left: 25%;
  top: 20%;
  border: 5px solid #0b1f65;
}
.ala:after{
  content: '';
  position: absolute;
  z-index: 10;
  height: 40px;
  width: 0px;
  left: -8px;
  top:35px;
  padding: 0px;
  transform:  skew(5deg);
  border-top: 10px solid transparent;
  border-right: 10px solid #0b1f65;
  border-bottom: 10px solid transparent;
}
.ala:before{
  content: '';
  position: absolute;
  z-index: 10;
  height: 40px;
  width: 0px;
  left: 58px;
  top:35px;
  padding: 0px;
  transform:  skew(-5deg);
  border-top: 10px solid transparent;
  border-left: 10px solid #0b1f65;
  border-bottom: 10px solid transparent;
}
.motor .base{
  position: absolute;
  width: 40px;
  height: 10px;
  background: #0b1f65;
  top: 80;
  left: 10;
  z-index: 2;
}
.fuego{
  position: absolute;
  height: 20px;
  width: 20px;
  top: 80px;
  transform-origin: 50% 50%;
  transform: rotate(-40deg) skew(1deg, -11deg);
  z-index: 1;
  left: 20px;
  background: linear-gradient(135deg, #EF8B32 0%, #EF8B32 50%, #E82134 50%, #E82134 100%);
  animation-name: fuego;
  animation-duration: .1s;
  animation-iteration-count: infinite;
}
@keyframes fuego{
  0% {
    transform: translate(0, 10px) scale(1, 1) rotate(-33deg) skew(0deg, -30deg);
  }
  100% {
    transform: translate(0, 0px) scale(1, 1.4) rotate(-33deg) skew(0deg, -30deg);
  }
}
.btn:active{
  transform: scale(.9) !important;
}
.buttons{
  margin-top: 50px;
}
.tri{
  position: absolute;
  height: 0px;
  width: 0px;
  padding: 0px;
  left: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 30px solid #F3F3F3;
}